@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body{
	background-color: #F8F8F8;
	font-family: "Montserrat";
}

nav{
	position: absolute;
	top: 0;
	left: 0;
	height:10%;
	width:100%;	
	background-color: black;
	min-height: 65px;
}

h1 {
    color: #990000;
    font-family: "Lora";
    font-weight: bold;
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

.Lora{
	font-family: "Lora";
}

.bigLeftSmallRight {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bigLeftSmallRight > * {
	margin: 2%;
    margin-top: 0%;
}

.bigLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homePageImage{
	width: 58vw;
	aspect-ratio:1.77777778;
	border:.16vw solid #990000;
}

.smallRight{
	width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallRight > p {
	font-size: calc(1.1vw);
}

hr{
	border: 0;
	clear: both;
	display: block;
	width: 100%;
	background-color: #990000;
	height: 2px;
}

footer {
	min-height: 1.5em;
	height: 10vh;
	max-height: 2.5em;
	
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}