@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

.threeBarLayout > ul {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
	margin-left: -3vw;
}

.threeBarLayout > ul > li {
	border: 1vw solid white;
	border-radius: 3vw;
	background-color: white;
	
	width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
	margin-top: 6.5vh;
	z-index: -1;
}

hr{
	border: 0;
	clear: both;
	display: block;
	width: 100%;
	background-color: #005522;
	height: 2px;
	margin-top: -5%;
}

.threeBarLayout > ul > li > *:not(h2){
	font-family: "Lora";
    font-size: 1em;
	margin-top: -2%;
}

#firstParagraphOnThreeBar{
	margin-top: 1%;
}

.threeBarLayout > ul > li > h2{
	margin-top: 0%;
	margin-bottom: 5%;
	font-weight: 700;
}

.threeBarLayout {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    height: 90%;
    margin-top: -5%;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
